
@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 900;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTHeavy.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTMedium.woff2);
}

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: italic;
    font-weight: 500;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTMediumOblique.woff2);
}

@font-face {font-display:swap;
    font-family: Futura PT Cond;
    font-style: normal;
    font-weight: 500;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondMedium.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: italic;
    font-weight: 300;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTLightOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Book;
    font-style: normal;
    font-weight: 400;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTBook.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond;
    font-style: normal;
    font-weight: 700;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondBold.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Book;
    font-style: italic;
    font-weight: 400;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTBookOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond Extra;
    font-style: italic;
    font-weight: 800;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondExtraBoldOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 300;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTLight.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: italic;
    font-weight: 700;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTBoldOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Demi;
    font-style: italic;
    font-weight: 600;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTDemiOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond Extra;
    font-style: normal;
    font-weight: 800;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondExtraBold.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Demi;
    font-style: normal;
    font-weight: 600;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTDemi.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: italic;
    font-weight: 900;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTHeavyOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Extra;
    font-style: italic;
    font-weight: 800;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTExtraBoldOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond Book;
    font-style: normal;
    font-weight: 400;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondBook.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 700;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTBold.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Extra;
    font-style: normal;
    font-weight: 800;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTExtraBold.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond;
    font-style: italic;
    font-weight: 700;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondBoldOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond;
    font-style: italic;
    font-weight: 500;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondMediumOblique.woff2);
    }

@font-face {font-display:swap;
    font-family: Futura PT Cond Book;
    font-style: italic;
    font-weight: 400;
    src: url(http://localhost/afisha/fonts/FuturaPT/FuturaPTCondBookOblique.woff2);
    }
